/* Setting a consistent font and margin */
* {
    font-family: var(--font); 
    margin: 0px;
}
 /* Setting a consistent font */
:root {
    --font: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
}

/* Formatting the header to have the title on the left and nav links on the right */
header {
    height: 70px;
    background-color: darkcyan;
    color: white;
}

h1 {
    display: inline;
    margin-left: 20px;
}

nav {
    float: right; 
    margin-top: 20px;  
}

a {
    margin: 20px;
    font-size: 15px;
    text-decoration: none;
    color: white;
}

/* When the cursor hovers over the nav links, formatting them to turn blue */
a:hover {
    color: rgb(5, 51, 79);
}

#headshot-section {
    background-image: linear-gradient(
        darkcyan 0%,
        white 100%
    ); /* Adding a gradient background from cyan (header color) to white (main section color) */
}

#headshot-img {
    display: inline;
    height: 150px;
    margin-left: 50px;
}

#headshot-section h2 {
    float: right;
    font-size: 15px;
    color: rgb(5, 51, 79);
    margin: 100px 100px 10px 0px;
}

/* Creating a grid format for the main area - 5 columns by 6 rows */
main {
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(6, 1fr);
    color: rgb(5, 51, 79);
}

/* Formatting each of the three sebsection titles */
.subsection-title {
    text-align: right;
    margin: 10px 20px;
    padding: 20px;
    border-right: solid rgb(5, 51, 79);
}

/* Assigning the about me title to column 1 row 2 */
#about-me-title {
    grid-area: 1 / 1 / 2 / 2;
}

/* Assigning the about me text to columns 2-6 row 6 */
#about-me-text {
    grid-area: 1 / 2 / 2 / 6;
    font-size: 15px;
    padding: 30px 0;
}

/*Assigning the my work title to encompass column 1 rows 2-6 */
#my-work-title {
    grid-area: 2 / 1 / 6 / 2;
}

/* Setting up each project 'box' */
.projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Align items at the bottom of the container */
    margin: 10px;
    border: 5px solid darkcyan;
    padding: -10px;
}

.projects:hover {
    opacity: 0.5;
}

/* Ensuring each project's title is offset from the bottom of the box */
.projects h3 {
    text-align: left;
    width: 50%;
    padding: 4px;  
    background-color: darkcyan;
    color: white;
    margin-bottom: 2%;
}

/* Assigning the html-css area to columns 2-4 rows 2-6 */
#html-css {
    grid-area: 2 / 2 / 4 / 6;
    background: url("../images/html_css_refactor.png"), lightgray;
}

/* Assigning the remaining projects to rows 4-6 columns 2-6 */
#prework-studyguide {
    grid-area: 4 / 2 / 5 / 4;
    background: url("../images/prework_study_guide.png"), lightgrey;
}

#placeholder-1 {
    grid-area: 4 / 4 / 5 / 6;
    background: lightgray;
}

#placeholder-2 {
    grid-area: 5 / 2 / 6 / 4;
    background: lightgray;
}

#placeholder-3 {
    grid-area: 5 / 4 / 6 / 6;
    background: lightgray;
}

/* Assigning the contact area text to column 1 row 6 */
#contact-me-title {
    grid-area: 6 / 1 / 7 / 2;
}

/* Assigning the contact area to columns 2-6 row 6 */
#contact-area {
    grid-area: 6 / 2 / 7 / 6;
    padding: 100px 0;
}

#contact-area a {
    color: darkcyan;
    font-weight: bold;
    padding: 8px;  
    background-color: darkcyan;
    color: white;
}

/* Formatting contact links to turn blue when cursor hovers over them */
#contact-area a:hover {
    color: rgb(5, 51, 79);
}

@media screen and (max-width: 768px) {
/* Formatting the screen to reduce margins, decrease font size, remove the 
'thank you for visiting my page' text, and realigning the contact section */    

    nav, #headshot-img {
        margin: 0px;
    }

    #headshot-section h2 {
        display: none;
    }

    main {
        display: grid;
        grid-template-columns: repeat(1, 2fr);
        grid-template-rows: repeat(6, 1fr);
        color: rgb(5, 51, 79);
    }
  
    .subsection-title {
        margin: 10px 0px;
        font-size: 13px;
    }

    #about-me-text {
        font-size: 12px;
        padding-left: 10px;
    }
    
    .projects h3 {
        width: 100%;
        padding: 0px; 
        margin-bottom: 10px;
        font-size: 13px;
    }

    #contact-area a {
        display: flex;
        flex-direction: column;
        text-align: left;
        width:50%;
        font-size: 11px;
    }
  }